<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape document_id f0912ad76048a2e7ed12d76c -->
<robot name="mir">
  <!-- Link mir_body -->
  <link name="mir_body">
    <inertial>
      <origin xyz="-1.10928e-16 -2.01686e-17 0.177103" rpy="0 0 0"/>
      <mass value="244"/>
      <inertia ixx="17.5393" ixy="1.29661e-14" ixz="0" iyy="37.4939" iyz="6.50391e-16" izz="51.4969"/>
    </inertial>
    <!-- Part mir_body -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="file://$(find abb_arm_description)/assets/mir_platform/mir_body.stl"/>
      </geometry>
      <material name="mir_body_material">
        <color rgba="0.964706 0.964706 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="file://$(find abb_arm_description)/assets/mir_platform/mir_body.stl"/>
      </geometry>
    </collision>
    <!-- Part wheel_boundary -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="file://$(find abb_arm_description)/assets/mir_platform/wheel_boundary.stl"/>
      </geometry>
      <material name="wheel_boundary_material">
        <color rgba="0.701961 0.701961 0.701961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="file://$(find abb_arm_description)/assets/mir_platform/wheel_boundary.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_mir_body" type="fixed">
    <parent link="base_plate__mild_steel"/>
    <child link="mir_body"/>
    <origin xyz="0 0 -0.3" rpy="0 0 0"/>
  </joint>
</robot>
