<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="abb_arm">
    <!-- Include inertial macros -->
    <xacro:include filename="$(find abb_arm_description)/urdf/inertial_macros.xacro"/>

    <!-- Include platform -->
    <xacro:include filename="$(find abb_arm_description)/urdf/platform.xacro"/>

    <!-- Include abb arm -->
    <xacro:include filename="$(find abb_arm_description)/urdf/abb.xacro"/>

    <!-- Include ros2_control -->
    <xacro:include filename="$(find abb_arm_description)/urdf/abb_arm.ros2_control.xacro"/>
</robot>